In [2]:
# DSP

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./base.csv")

In [3]:
df
# df means Dataframe a data structure built into pandas.
# Dataframes are two dimensional arrays, displaying data in tabular form.
# Dataframes, I think, will be extensively used for data processing
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html?highlight=dataframe#pandas.DataFrame

          time      ax      ay      az     aT
0        0.004 -0.5076 -0.2454 -0.2490  0.616
1        0.006 -0.1173  0.2752  1.3013  1.335
2        0.008  0.0114 -0.6306  0.3460  0.719
3        0.019 -0.4323 -0.7868 -0.3854  0.977
4        0.034 -0.6198 -0.4897  0.0300  0.790
...        ...     ...     ...     ...    ...
10797  108.102  0.9316 -0.2238 -0.3907  1.035
10798  108.103  0.3385 -0.4296  1.3415  1.449
10799  108.104 -0.2312  0.4899 -1.8908  1.967
10800  108.125 -0.4099  0.6758 -0.8373  1.151
10801  108.127 -0.5627 -0.3435 -0.0423  0.661

[10802 rows x 5 columns]